*{
    margin : 0;
    padding:0;
    box-sizing: border-box;
}
#h1{
    text-align: center;
}
.container{
    min-height: 100vh;
    width: 100vw;
    padding: 23px;
    background-color: #075e64;
}
#input-box{
    border: 1px solid black;
    padding: 23px;
}
#addTitle{
    height: 35px;
}
input,textarea{
    width: 100%;
    background-color: rgb(179, 248, 225);
    border:2px double rgb(3, 3, 4);
    outline: none;
    margin-top: 0px;

    color: black;
}
button{
    background: rgb(10, 10, 41);
    color: white;
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 6px;
}
button:hover {
    background-color: rgb(47, 58, 79); /* Green */
    color: white;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#notes{
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
}
.note{
    width: 300px;
    padding: 12px;
    margin: 12px;
    border: 1px solid white;
    background-color: rgb(150, 191, 79);
}

.deleteNote{
    float:right;
}